body {
    background-color: #d0e4fe;
}

h1 {
    color: #06D8FF;
    text-align: center;
    font-family: "Helvetica"
}
h3 {
  font-family: "Helvetica"
}
p {
    font-family: "Helvetica";
    font-size: 17px;
}

#header {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 5px;
}

#wrapper {
  width: 810px;
  height: 810px;
  margin-left: auto;
  margin-right: auto;
}

#nav {
	line-height: 30px;
	background-color: #eeeeee;
	height: 300px;
	width: 80px;
	float: left;
	padding: 5px;
}

#section_Sobre {
	width: 350px;
	float: left;
	padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

#section_Blog {
	width: 350px;
	float: left;
	padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

#section_Contato {
	left: 20px;
	top: 450px;
	height: 100px;
	width: 350px;
	z-index: 200;
  margin-left: auto;
  margin-right: auto;
}

#footer {
	background-color: #333;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
}

div {
    display: block;
}
