body {
    background-color: #d0e4fe;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

#header {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 5px;
}

#nav {
	line-height: 30px;
	background-color: #eeeeee;
	height: 300px;
	width: 80px;
	float: left;
	padding: 5px;
}

#section_Sobre {
	width: 350px;
	float: left;
	padding: 10px;
}

#section_Blog {
	width: 350px;
	float: left;
	padding: 10px;
}

#section_Contato {
	position: absolute;
	visibility: visible;
	left: 20px;
	top: 450px; 
	height: 100px;
	width: 350px;
	z-index: 200; 
}

#footer {
	background-color: #333;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
	clear: both;
	text-align: center;
	padding: 5px;
}

div {
    display: block;
}
